$theme-color: #E93D44;

$charcoal: #181a1a;
$charcoal-grey: #3f484b;
$gunmetal: #545a5e;
$steel-grey: #768288;
$cool-grey: #a2abaf;
$silver: #c3cbcf;
$pale-grey: #e2e8ea;
$pale-grey-two: #edeff0;
$pale-grey-three: #f5f6f7;
$pale-grey-four: #f7f9fa;
$pale-grey-five: #fafbfc;
$ice-blue: #f7fcff;
$tomato: #e62a2a;
$rosy-pink: #ec5659;
$windows-blue: #4793cd;
$dark-sky-blue: #50a5e7;
$dark-mint: #46c485;
$faded-orange: #f6a250;
$white: #ffffff;
$muted-blue: #396e93;
$turquoise-blue: #00bcd4;
$tiffany-blue: #65d6e4;
$duck-egg-blue: #cbf1f5;
$peach: #ffa67a;
$dodger-blue: #4a8bf3;
$dark-sky-blue-two: #4077eb;
