.buttons-container {
  display: flex;
  align-items: center;
  justify-content: center;
  @extend .margin-16;

  .button {
    background-color: $theme-color;
    color: $white;
    text-align: center;
    padding: 20px;
    border: 1px solid;
    margin: 5px;
    width: 200px;
  }
}


