.edit-trip-container {
  @extend .border-theme-color;
}

.edit-trip-row {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;

  margin-top: 10px;
  margin-bottom: 20px;

  .row-title {
    width: 5%;
    text-align: right;
    color: $theme-color;
  }

  .cell {
    width: 200px;
    margin-left: 20px;
    height: 30px;
    font-size: 14px;

    .form-control {
      height: 30px !important;
      font-size: 14px;
    }
  }

  .cell-small {
    margin-left: 20px;
    width: 160px;
    .form-control {
      height: 30px !important;
      font-size: 14px;
    }
  }
}

.action-buttons {
  display: flex;
  padding-right: 30%;
  padding-left: 30%;
  padding-bottom: 20px;
  height: 50px;

  .button {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex: 1;
    margin: 5px;
    background-color: $theme-color;

    .button-text {
      color: $white;
      font-size: 20px;
    }
  }
}


